:root {
  --light-green: #e2fcd6;
  --green: #14967f;
  --dark-teal: #095d7e;
  --light-teal: #ccecee;
  --bg: #f1f9ff;
  --radius: 16px;

  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-control:focus {
  border-color: var(--dark-teal) !important;
  box-shadow: 0 0 0 0.2rem rgba(9, 93, 126, 0.2) !important;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body {
  background: var(--bg);
  color: var(--dark-teal);
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
